html, body {
    background-color: hsla(0, 0%, 100%, 1);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: hsla(0, 0%, 0%, 1);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}


/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* use flexbox for horizontal positioning (replaces floating used in earlier versions) */
header, footer, li {
    display: flex;

}

/* header and its parts */

header {
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
    border-bottom-color: rgb(200, 200, 200);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

/* main part of the view */

main {

    width: 100%;
    max-width: 100%;

    height: calc(100% - (100px));
    height: -webkit-calc(100% - 90px);
    max-height: calc(100% - 50px);
    max-height: -webkit-calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1.0;
    transition: 1s;
}

footer {
    background-color: rgb(255, 255, 255);

    height: 45px;
    border-top-color: hsla(33, 100%, 50%, 1);
    border-top-style: solid;
    border-top-width: 5px;

}



button {
    height: 30px;
    width: 30px;
    padding: 0px;
    background-size: 25px 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0pt;
    background-color: hsla(0, 0%, 100%, 1);
    background-repeat: no-repeat;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
    border: 0px solid hsla(0, 0%, 100%, 1);
    filter: opacity(40%);

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.listeners-active .toggle-listeners-btn {
    background-image: url("./img/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 23px 30px;
    justify-content: flex-start;
}

.menu {
    height: 30px;
    width: 25px;
    margin-left: 10px;
    background-size: 30px, 30px;
    background-image: url("./img/glyphicons/png/glyphicons-517-menu-hamburger.png");
    float: left;
    justify-content: flex-end;


}


.toggle-listeners-btn {
    background-image: url("./img/glyphicons/png/glyphicons-301-microphone.png");
    background-size: 23px 30px;
    justify-content: flex-start;
}

header h1 {

    margin-left: 0px;
    margin-right: auto;
    font-size: 20pt;
    line-height: 50px;
    font-weight: normal;
    display: inline-block;

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.tile-view-btn {
    background-image: url("./img/glyphicons/png/glyphicons-157-show-thumbnails.png");
    justify-content: flex-end;
    transition: 1s;
}

.new-item-btn {
    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
    justify-content: flex-end;
    margin-right: 10px;

}


.logout-btn {
    background-image: url("./img/glyphicons/png/glyphicons-388-log-out.png");
    justify-content: flex-start;
}


.refresh-btn {
    background-image: url("./img/glyphicons/png/glyphicons-82-refresh.png");
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-end;
}


/* list and list items */

ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

ul:first-child{
    border-top: 25px solid hsla(0, 0%, 90%, 1);
}

li {
    background-color: rgb(255, 255, 255);

    height: 90px;
    border-bottom: 1px solid hsla(0, 0%, 80%, 1);
    font-size: 15px;
    padding-left: 10px;
    display: grid;
    grid-template-areas:
            'foto owner added'
            'foto titel titel'
            'foto play loeschen';
    grid-template-columns: 90px auto auto;
    grid-template-rows: auto auto auto;
}


li .img{

    display:grid;
    grid-area: foto;
    border: none;

    height: 75px;
    width: 75px;
    margin-top: 7.5px;
    margin-left: 0px;

    object-fit: cover;
    border: none;
    outline: none;

}

.owner{
    display: grid;
    grid-area: owner;
    margin-top:5px;
}

.added{
    display: grid;
    grid-area: added;
    margin-right: 10px;
    margin-top:5px;
    margin-left: auto;
    float: right;
    justify-content: flex-end;
}


h2{
    display: grid;
    grid-area: titel;
    margin: 0px;
    padding: 0Px;
    font-weight: normal;
    font-size: 12pt;
    text-transform: uppercase;
}

.play {
    border:none;
    font-size:0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    filter: invert(60%); /*Farben invertieren*/
    webkit-filter: invert(60%);

    background-origin: content-box;
    padding: 0;

    outline: none;
    border-style: none;


    display: grid;
    grid-area: play;
    background-image: url(./img/glyphicons/png/glyphicons-174-play.png);
    background-size: 15px 15px;


}


h3 {
    margin: 0px;
    padding: 0Px;
    font-weight: normal;
    font-size: 15pt;
    color: grey;
    font-size: 12pt;
}


.numOfTags{
    display: inline-block;
    grid-area: play;
    margin-left: 25px;
}



.option-btn {
    border: 0px dashed black;
    display: grid;
    grid-area: loeschen;
    background-image: url('./img/glyphicons/png/glyphicons-518-option-vertical.png');
    background-position: center;
    width: 20px;
    height: 20px;

    object-fit: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    filter: invert(60%); /*Farben invertieren*/
    webkit-filter: invert(60%);
    background-size: 6px 20px;

    padding: 0;
    margin-top:0;
    margin-left: auto;
    margin-right: 3px;
}

/* ---------- tile view --------------*/

.fade-out main {
    opacity: 0.0;
    transition: 2s;
}



.tile-view .tile-view-btn{
    background-image: url("./img/glyphicons/png/glyphicons-115-list.png");
    transition: 2s;
}

.tile-view li{
    display: inline-block;
    border-bottom: none;
    background-color: unset;
    width: calc((100% - (16px * 3)) / 3);
    position: relative;
    line-height: 100%;
    height: auto;
    margin-left: 8px;
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 8px;

}

.tile-view ul:first-child{
    padding-top: 8px;
}


@media (min-width: 600px){
    .tile-view li{
        width: calc((100% - (16px * 4)) / 4);
    }
}

@media (min-width: 800px){
    .tile-view li{
        width: calc((100% - (16px * 5)) / 5);
    }
}

.tile-view li:before{
    content: "";
    padding-top: 100%;
    display: block;
}

.tile-view li h2, .tile-view li h3, .tile-view li .play{
    display: none;
    margin: 0px;
}



.tile-view li button{
    position: absolute;
    right: 0px;
    bottom: 5px;
}

.tile-view .img{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
